<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>

    <link rel="stylesheet" href="/styles/basis.css">
    <link rel="stylesheet" href="/styles/account.css">
</head>
<body>

    <%- include('header') %>

    
    <section class="wrapper">
        <main class="mainaccount">
            <h2>Your account information</h2>

            <h3>Username</h3>
            <p><%= username %></p>
            <h3>Email address</h3>
            <p><%= email %></p>
       
            <p class="logout"><a href="/logout">Log out</a></p>
        </main>
    </section>

</body>
</html>