<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1e pagina recept finder</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <%- include('header') %>
    <h1>Voor het inloggen leren we je graag beter kennen</h1>
    <p>Zo krijg je recepten die perfect bij jou passen</p>
    </header>
    <main>

        <section class="filter-allergie-container">
            <h2>Allergieën</h2>
            <p>Filter op bepaalde categorieën</p>
            <div class="filter-allergie">
                <input type="checkbox" id="vis" name="filter" value="vis">
                <label for="vis">
                    <img src="/images/fish.svg" alt="Vis">
                </label>
        
                <input type="checkbox" id="gluten" name="filter" value="gluten">
                <label for="gluten">
                    <img src="/images/gluten.svg" alt="Gluten">
                </label>
        
                <input type="checkbox" id="pinda" name="filter" value="pinda">
                <label for="pinda">
                    <img src="/images/nut-free.svg" alt="Pinda">
                </label>
        
                <input type="checkbox" id="soja" name="filter" value="soja">
                <label for="soja">
                    <img src="/images/beans.svg" alt="Soja">
                </label>
        
                <input type="checkbox" id="melk" name="filter" value="melk">
                <label for="melk">
                    <img src="/images/milk.svg" alt="Melk">
                </label>
        
                <input type="checkbox" id="schaaldieren" name="filter" value="schaaldieren">
                <label for="schaaldieren">
                    <img src="/images/lobster.svg" alt="Schaaldieren">
                </label>
        
                <input type="checkbox" id="ei" name="filter" value="ei">
                <label for="ei">
                    <img src="/images/egg.svg" alt="Ei">
                </label>
            </div>
        </section>
        






<section class="filter-start">
    <h2>Dieet wensen</h2>
    <p>Filter op bepaalde categorieën</p>
    <div class="filter-categorie">
      <input type="checkbox" id="vis" name="filter" value="vis">
      <label for="vis">Vis</label>
  
      <input type="checkbox" id="vlees" name="filter" value="vlees">
      <label for="vlees">Vlees</label>
  
      <input type="checkbox" id="italiaans" name="filter" value="italiaans">
      <label for="italiaans">Italiaans</label>
  
      <input type="checkbox" id="glutenvrij" name="filter" value="glutenvrij">
      <label for="glutenvrij">Glutenvrij</label>
  
      <input type="checkbox" id="vegetarisch" name="filter" value="vegetarisch">
      <label for="vegetarisch">Vegetarisch</label>
  
      <input type="checkbox" id="halal" name="filter" value="halal">
      <label for="halal">Halal</label>
  
      <input type="checkbox" id="veganistisch" name="filter" value="veganistisch">
      <label for="veganistisch">Veganistisch</label>
  </div>
    <button id="filter-submit">Toon recepten</button>
</section>

</main>
    <%- include('footer') %>
</body>
</html>
