<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registreren</title>
<style>
    *, *::after, *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 1.5em;
        font-size: 1em;
    }

    .mainCreateAccount {
        width: 100%;
        max-width: 30em;
        background-color: #fff;
        padding: 1.2em;
        border-radius: 0.5em;
    }

    h1 {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 1.25em;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 1em;
        margin-bottom: 0.8em;
    }

    .checkbox {
        display: flex;
        gap: 0.5em;
    }

    .checkbox input {
        margin-bottom: 1.1em;
        padding: 0;
    }

    input {
        background-color: #f2f2f2;
        padding: 1em;
        margin-bottom: 1.5em;
        border: none;
        border-radius: 0.5em;
        font-size: 1em;
    }

    input[type="submit"] {
        padding: 1em;
        background-color: dimgray;
        color: #fff;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: gray;
    }

    p {
        text-align: center;
        font-size: 0.875em;
        margin-top: 1.5em;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .error {
        color: red;
        text-align: center;
        margin-top: 0.6em;
    }
    </style>
</head>
<body>

    <main class="mainCreateAccount">
        <h1>Registreren</h1>

        <form action="/createAccount" method="POST">      
                <label for="fullname">Volledige naam</label>
                <input type="text" id="fullname" name="fullname" placeholder="Volledige naam..." required/>
                
                <label for="email">E-mailadres</label>
                <input type="email" id="email" name="email" placeholder="E-mailadres..." required>

                <label for="password">Wachtwoord</label>
                <input type="password" id="password" name="password" placeholder="Wachtwoord..." required>

                <label for="passwordConfirm">Wachtwoord</label>
                <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Bevestig wachtwoord..." required>

                <label class="checkbox">
                <input type="checkbox" name="voorwaarden" id="voorwaarden" required>
                Ik ga akkoord met de algemene voorwaarden en het privacybeleid van (onze naam)
            </label>

            <input type="submit" value="Registreer">
            <% if (errorMessage) { %>
                <div class="error">
                    <%= errorMessage %>
                </div>
            <% } %>
        </form>

        <p>Heb je al een account? <a href="/login">Log in</a></p>

    </main>
    
    <%- include('../views/footer'); %>
</body>
</html>