<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles/filter.css">
</head>
<body>
<header>
  <h1>Test
  </h1>
  
</header>

<main>
  <aside>
    <input type="radio" name="filter" value="all" id="filter-all" checked>
    <label for="filter-all">all</label>
    <input type="radio" name="filter" value="italiaans" id="filter-italiaans">
    <label for="filter-italiaans">italiaans</label>
    <input type="radio" name="filter" value="mexicaans" id="filter-mexicaans">
    <label for="filter-mexicaans">mexicaans</label>
    <input type="radio" name="filter" value="japans" id="filter-japans">
    <label for="filter-japans">Japans</label>
  </aside>
  
  <ul class="all">
    <li class="italiaans">
      <h2>Italiaans</h2>
      <p>Pizza</p>
      <img src="images/pizza-svgrepo-com.svg" alt="Pizza"/>
    </li>
    
    <li class="mexicaans">
      <h2>Mexicaans</h2>
      <p>Taco's</p>
      <img src="images/taco-svgrepo-com.svg" alt="Taco's"/> 
    </li>
    
    <li class="japans">
      <h2>Japans</h2>
      <p>Sushi</p>
      <img src="images/sushi-svgrepo-com.svg" alt="sushi"/>
    </li>
    <li class="italiaans">
      <h2>Italiaans</h2>
      <p>Pasta</p>
      <img src="images/pasta-svgrepo-com.svg" alt="pasta"/>
    </li>
    
    <li class="mexicaans">
      <h2>Mexicaans</h2>
      <p>Burrito's</p>
      <img src="images/burrito-svgrepo-com.svg" alt="Burritos"/> 
    </li>
    
    <li class="japans">
      <h2>Japans</h2>
      <p>Noodles</p>
      <img src="images/noodles-bowl-food-svgrepo-com.svg" alt="noodles"/>
    </li>
  </ul>
</main>

<script src="filter.js"> </script>
</body>
</html>