<header>
    <a href="/"><img src="" alt="Logo"></a>

    
    <nav>
        <ul>
            <li><a href="#">Bla</a></li>
            <li><a href="#">Bla</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/createAccount">Create account</a></li>
        </ul>
    </nav>
</header>