   
   <link rel="stylesheet" href="/styles/header-footer.css">
   <header>
        <div class="nav-placeholder"></div>
        <div class="logo">
            <img src="/images/logo-mobile.svg" alt="Logo" class="logo-mobile">
            <img src="/images/logo-desktop.svg" alt="Logo" class="logo-desktop">
          </div>
        
        <nav class="desktop-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/mainscherm">Recepten</a></li>
                <li><a href="/favorites">Favorites</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        
        <button class="hamburger-menu" aria-label="Menu">
            <img src="images/menu.svg" alt="">
        </button>
    </header>
    
    <nav class="mobile-nav">
        <button class="close-menu" aria-label="Sluit menu"><img src="images/taco.svg" alt="">
        </button> 
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/mainscherm">Recepten</a></li>
            <li><a href="/favorites">Favorites</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>



    <script>
                /* header uitklap menu */
const closeBtn = document.querySelector(".mobile-nav button");
const openBtn = document.querySelector(".hamburger-menu");
const nav = document.querySelector(".mobile-nav");

console.log(nav);

openBtn.addEventListener("click", openMenu);
closeBtn?.addEventListener("click", closeMenu);

function openMenu() {
    nav.classList.add("active");
}

function closeMenu() {
    nav.classList.remove("active");
}

/* header uitklap menu */
    </script>
        <%- include('footer') %>
</body>
</html>
