<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="main-container">
        <div class="container">
            <img src="/images/talking-tomato.svg" alt="Tomaat" class="tomaat">
            <div class="wolk">
                <p id="tekst-wolk"></p>
            </div>
        </div>
    </div>
    <script>


// pop up intro
      const tekstWolk = document.getElementById('tekst-wolk');
const tekst = "Welkom bij Receptify, Veel plezier!";

let index = 0;

function typeEffect() {
    if (index < tekst.length) {
        tekstWolk.textContent += tekst.charAt(index);
        index++;
        setTimeout(typeEffect, 100); // Verhoog de vertraging om het langzamer te maken
    }
}

typeEffect();
  
   setTimeout(function() {
            window.location.href = "/home"; 
        }, 4000); 
    </script>
</body>
</html>