<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>koelkast functie</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1> Wat heb jij nog in je koelkast liggen?</h1>
        <p>Voeg jouw ingrdienten toe</p>
    </header>
    <main>
        <section class="koelkast-list">
            <label>1. <input type="text" class="ingredient-input"></label>
            <label>2. <input type="text" class="ingredient-input"></label>
            <label>3. <input type="text" class="ingredient-input"></label>
        </section>
    </main>
</body>
</html>