<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header>
        <h1> Wat heb jij nog in je koelkast liggen?</h1>
        <p>Voeg jouw ingrdienten toe</p>
    </header>
    <main>
        <section class="koelkast-list">
            <label>1. <input type="text" class="ingredient-input"></label>
            <label>2. <input type="text" class="ingredient-input"></label>
            <label>3. <input type="text" class="ingredient-input"></label>
        </section>
        <ul id="suggestions" class="suggestions-list"></ul>
    </main>

    <style>
body{
    background-color: rgb(24, 24, 24);
}
h1{
    color: white;
}
.koelkast-list
{
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.koelkast-list input {
    border-radius: 1em;
    padding: 15px 50px;
    border: none;
}

.koelkast-list {
    margin-top: 5em;
}



    </style>



</body>
</html>