<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header>
        <h1> Wat heb jij nog in je koelkast liggen?</h1>
        <p>Voeg jouw ingrdienten toe</p>
    </header>
    <main>
        <section class="koelkast-list">
        <label for="">  1. <input type="text"></label>
        <label for="">  2. <input type="text"></label>
        <label for="">  3. <input type="text"></label>
     </section>
    </main>
</body>
</html>