<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kook niveau</title>
    <link rel="stylesheet" href="/styles/style.css">
    
</head>
<body>
    <%- include('header') %>
<h1>
    Selecteer uw kook niveau
</h1>
<section class="image-cooking">
<img src="images/cooking.svg" alt="">
</section>
<main>
    <section class="keuzen-niveau">
        <button class="beginner">
            Beginner
            <p>Kan nog net een tosti maken</p>
        </button>
    
        <button class="gemiddeld">
            Gemiddeld
            <p>Ik kook voor mijn huisgenoten</p>
        </button>
    
        <button class="pro-chef">
            Pro chef
            <p>Over een jaar heb ik mijn eigen restaurant</p>
        </button>
    </section>
    
    <section class="done">
          <button class="doorgaan"> Doorgaan
        </button>
    </section>
</main>
<footer>
    <%- include('footer') %>
</footer>
</body>
</html>