<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
</head>
<body>
    <!-- <%- include('../views/header'); %> -->

    <main class="mainLogin">
        <!-- <h1>Inloggen</h1> -->

        <form action="#" method="post">
            <fieldset>
                <legend>Inloggen</legend>

                <label for="email">E-mailadres</label>
                <input type="email" id="email" name="email" placeholder="E-mailadres" required>

                <label for="password">Wachtwoord</label>
                <input type="password" id="password" name="password" placeholder="Wachtwoord" required>
            </fieldset>

            <input type="submit" value="Log in">

            <p>Nog geen account? <a href="/createAccount">Registreer hier</a></p>
        </form>

    </main>
    
    <%- include('../views/footer'); %>
</body>
</html>