<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

        <%- include('header') %>
    
    <section class="wrapper">
        <main class="mainForm">
            <h1>Log in</h1>
        
            <form action="/login" method="POST">
                <% if (errorMessage) { %>
                    <div class="error">
                        <%= errorMessage %>
                    </div>
                <% } %>

                <label for="email">Email address</label>
                <input type="email" id="email" name="email" placeholder="Email address" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>

                <input type="submit" value="Log in" id="button-login">
            </form>

            <p>No account yet? <a href="/createAccount">Create account</a></p>

        </main>
    </section>
    
    <%- include('footer') %>

</body>
</html>