<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/pop-up.css">
</head>
<body>
    <div class="pop-up">
        <button id="close">&times;</button>
        <h2> Welkom bij de Recepten zoeker!</h2>
        <p>De app om je kookkunsten te delen, recepten te vinden met je eigen ingrediënten en punten te scoren!</p>
        <a href="#">Volgende</a>
    </div>

</body>
</html>
