<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Begin pagina</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/components.css">
</head>
<body>
  <%- include('header') %>
  
  <h1>Welkom bij receptify</h1>

  <section class="finder">
    <h2>Zoek een recept om te eten</h2>
    <label for="veld">
      <input type="text" name="query" placeholder="Zoek op recepten" id="veld" class="input-field">
    </label>
    <button type="submit" class="button">Zoeken</button>
  </section>








</body>
</html>
