<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1e pagina recept finder</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header>
<h1>Welkom bij begin</h1>
    </header>
    <main>
<section class="finder">
    <form>
        <h2> Wat wil je vandaag eten? </h2>
        <input type="text" value="Typ hier je antwoord">
    </form>
    <button> Zoeken</button>
    <p> Uitgebreid zoeken</p>
</section>


<div class="line-with-text">
    <span class="text">Of</span>
</div>




  <section class="filter-begin">
    <h2> Filter op bepaalde categorien </h2>
    <ul>
    <li>vis</li>
    <li>vlees</li>
    <li>Italiaans</li>
    <li>Glutenvrij</li>
    <li>vegtarisch</li>
    <li>Halal</li>
    <li>veganistisch</li>
    <li>Lactose vrij</li>
    </ul>
    <button> Zoeken</button>
  </section>


    </main>
    <footer>

    </footer>
    <script src="server.js"></script>

    <style>

.finder {
    padding: 0 15px; 
}

form {
    width: 100%;
}



.finder input{
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px; 
    padding: 20px ;
    border: none;
    background-color: #c8c8c8;
    color: white;
    margin-top: 1em;
    border-radius: 1em;
}

 button {
    width: 100%;
    padding: 15px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 10px;
}

p {
    text-align: start;
    margin-top: 10px;
}


.line-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

.line-with-text::before,
.line-with-text::after {
  content: "";
  flex: 1;
  border-top: 1px solid #9d9d9d; 
}

.text {
  padding: 0 10px;
  font-size: 20px;
  color: #ff0000;
}



.filter-begin ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
margin: 0;
padding: 0;
}


.filter-begin li {
padding: 15px 20px;
  background-color: #bebebe;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 1em;
  cursor: pointer;
}
.filter-begin li:hover{
  background-color: #ff0000;
}

.filter-begin button {
margin-top: 1em;
}
  h1 {
    color: #444;
    margin-bottom: 10px;
  }
  
  h1 + p {
    font-weight: bold;
  }
  
  p {
    margin: 11px 0;
    color: beige;
  }
  
  ul {
    list-style: none;
    padding: 0;
    max-width: max-content;
  }
  
  li {
    background: rgb(255, 117, 117);
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  li img {
    width: auto;
    height: 3em;
    border-radius: 5px;
  }
  
  ul.italiaans li:not(.italiaans),
  ul.mexicaans li:not(.mexicaans),
  ul.japans li:not(.japans) {
    display: none;
  }

    </style>
</body>
</html>