<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recepten</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #ccc;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        main {
            padding: 20px;
        }
      
    </style>
</head>
<body>
    <header>
        <button>&#9776;</button>
        <h1>Logo</h1>
        <button>&#128100;</button>
    </header>
    <main>
    <h1>Recept 1</h1>
    <div>
        <p>hier komt afbeelding</p>
        <button>recept toevoegen aan favorieten</button>
    </div>
    <section></section>
    
    </main>
</body>
</html>
