<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<header>
        <h1> bestnd kiezen</h1>
</header>
    <main>
        <form action="/stats" enctype="multipart/form-data" method="post">
            <div class="form-group">
              <input type="file" class="form-control-file" name="uploaded_file">
              <input type="text" class="form-control" placeholder="Number of speakers" name="nspeakers">
              <input type="submit" value="Get me the stats!" class="btn btn-default">            
            </div>
          </form>
    </main>





<style>
main{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    padding:20px;
    gap: 1em;
}

input{
padding: 10px 20px;
border-radius: 10px;
border: none;
}
</style>


</body>
</html>