<header>
    <img src="" alt="Logo">
    <nav>
        <ul>
            <li><a href="#">Bla</a></li>
            <li><a href="#">Bla</a></li>
            <li><a href="#">Bla</a></li>
            <li><a href="#">Bla</a></li>
        </ul>
    </nav>
</header>