.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    margin-top: 1em;
  }


  .mainaccount {
    width: 100%;
    max-width: 400px;
    background: var(--background-white);
    padding: 2em;
    border-radius: var(--border-radius-big);
    box-shadow: var(--box-shadow);
    
  }
  
  .mainaccount form {
    display: flex;
    flex-direction: column;
  }
  
  .mainaccount label {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  
  .mainaccount input {
    padding: 0.8em;
    margin-bottom: 1.2em;
    border: var(--color-input-border);
    border-radius: var(--border-radius-small);
    font-size: 1em;
    transition: 0.3s;
  }

  .mainaccount button{
    background-color: var(--background-color-button);
    padding: 0.8em;
    margin-bottom: 1.2em;
    border-radius: var(--border-radius-small);
    font-size: 1em;
    transition: 0.3s;
    border: none;
    color: var(--text-color-button);

  }

  .mainaccount a {
    color: var(--link-color-text);
    text-decoration: none;
    font-weight: bold;
  }