



  .begin-scherm-h2 {
    align-items: center;
    display: flex;
    justify-content: center;
  }



  .grid-pagina img {
    width: 50em;
    max-width: 100%;
  }
  

  .grid-pagina content {
    grid-column-start: 1/2;

  }

  .grid-pagina h1 {
    font-size: clamp(1.5rem, 3vw, 4rem);
}

.grid-pagina p {
    font-size: clamp(1rem, 1.5vw, 2.5rem);
}

.grid-pagina .actions {
  grid-column-start: 2/3;
  align-self: start;
}

.search-div {
  display: flex;
  margin-bottom: 1em;
  gap: 1em;
}

  .grid-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
margin-left: 10em;
margin-right: 10em;

  }


  .actions .input {
    width: 100%;
    max-width: 220px;
    padding: 12px;
   border-radius: var(--border-radius-big);
   border: var(--color-input-border);
    outline: none;
    transition: all 0.5s ease;
    box-shadow: var(--box-shadow);
    cursor: pointer;
  }
  
  .actions .input:hover {
    border: var(--color-input--border-hover);
  box-shadow: var(--box-shadow);
  }
  
.actions .input:active {
    transform: scale(1.20);
  }
  
  .actions .input:focus {
    border: var(--color-input--border-hover);
  }

.actions #submit-knop{
  background-color: var(--background-color-tag-noti);
  color: var(--color-text-white);
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-small);
  width: 150px;
}
.actions #submit-knop:hover{
  background-color: var(--background-color-tag-noti-hover);
}


.actions button {
  position: relative;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-small);
  background: var(--background-color-button);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  cursor: pointer;
  border: none;
}


.actions button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: var(--background-color-button-hover);
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.actions button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.actions button span {
  text-decoration: none;
  padding: 15px 50px;
  color: var(--text-color-button);
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.actions button:hover span {
  color: var(--background-white);
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}



/* rate functie van recept */




@media (max-width: 768px){
  .grid-pagina {
    grid-template-columns: 1fr;
    margin: 0;
padding: 40px;
  }
  content h1 {
    font-size: 20px;
  }
}






   /* Responsieve aanpassingen voor ipad-formaat */


  /* gedeelte recept grid */



.recept-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    padding: 20px;
    }
    
    .recept {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--background-recept-cards);
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    }
    
    .recept h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    }
    
    .recept-description {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Laat alleen maar  regels zien (van chat) */
    overflow: hidden;
    }
    
    .recept button {
    background-color: var(--background-color-button);
    color: var(--text-color-button);
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    margin-top: auto;
    }
    
    .recept button:hover {
    background-color: var(--background-color-button-hover);
    }
    
    .recept-afbeelding {
      width: 100%;             /* Zorgt ervoor dat de afbeelding de breedte van de container gebruikt */
      height: 200px;           /* Stel de hoogte in (pas aan naar de gewenste hoogte) */
      object-fit: cover; 
    border-radius: var(--border-radius-big);
    position: relative; }
    
    
    /* einde recept grid */
    /* Like functtie */
    .like {
    position: absolute;
    top: 20px; 
    right: 20px;
    z-index: 10; 
    
    }
    
    
    .like svg {
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: var(--fill-heart-color);
    transition: transform 0.3s ease, fill 0.3s ease;
    background-color: var(--background-recept-cards);
    padding: 5px;
    border-radius: var(--border-radius-small);
    }
    
    
    .like:active svg {
    fill: var(--fill-heart-color-hover);
    transform: scale(1.2);
    transition: 700ms;
    }
    
    .like-checkbox {
    display: none;
    }
    
    .like-checkbox:checked + label svg {
    fill: var(--fill-heart-color-hover);
    transform: scale(1.1);
    transition: transform 0.5s ease, fill 0.5s ease;
    }
    
    .like-checkbox:not(:checked) + label svg {
    transform: scale(1);
    transition: transform 0.5s ease, fill 0.5s ease;
    }
    /* einde like functie */
    
    
    /* media grid 1e pagina naast elkaar */
    
    /* notifcation  */
    .notification {
      position: fixed;  
      top: 100px;
      right: -400px; 
      background: var(--background-color-tag-noti);
      color: var(--color-text-white);
      border-radius:var(--border-radius-small);
      font-size: 14px;
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 15px;
      transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;  
      box-shadow: var(--box-shadow);
      z-index: 9999;  
      opacity: 0; 
      margin-left: 3em;
    }
    
    .notification.show {
      right: 20px;  
      opacity: 1;  
    }
    
    .notification.hide {
      right: -400px; 
      opacity: 0;   
      pointer-events: none; 
    }
    



     /* main scherm hier onder */
     .search-bar form button{
      padding: 15px 5px;
      border: none;
      background-color: var(--background-color-button);
      color: var(--color-text-white);
      border-radius: var(--border-radius-small);
      cursor: pointer;
      width: 30%;

     }

   .search-bar form button:hover {
      background-color:var(--background-color-button-hover);

     }
.search-bar form{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-top: 5em;
 gap: 1em;
}   

.search-bar input ::placeholder{
  font-size: 10px;

}
    
     .search-bar input {
         width: 30%;
         padding: 10px 5px;
         border-radius: var(--border-radius-small);
         border: var(--color-input-border);
     }

     .search-bar button {
         padding: 5px 10px;
         border: none;
         background-color: var(--background-color-button);
         color: var(--text-color-button);
         border-radius: var(--border-radius-small);
         cursor: pointer;

     }


     .filterbuttons {
         list-style-type: none;
         display: flex;
         justify-content: center;
         gap: 20px;
         padding: 0;

     }
     
     .dropdown {
 position: relative;
 display: inline-block;
}

.dropdown button {
 background-color: var(--background-color-tag-noti);
 color: var(--color-text-white);
 padding: 10px 15px;
 border: none;
 cursor: pointer;
 border-radius: var(--border-radius-medium);
 transition: background 0.3s ease;
}

.dropdown button:hover {
 background-color: var(--background-color-tag-noti-hover);
}

.dropdown .content {
 display: none;
 position: absolute;
 top: 100%;
 left: 0;
 min-width: 160px;
 border-radius: var(--border-radius-medium);
 background-color: var(--background-white);
 box-shadow: var(--box-shadow);
 padding: 5px 0;
 opacity: 0;
 transform: translateY(-5px);
 transition: opacity 0.3s ease, transform 0.3s ease;
 z-index: 2;
}

.dropdown .content li {
 list-style-type: none;
 padding: 0;
}

.dropdown .content a {
 display: block;
 text-decoration: none;
 padding: 10px;
 color: var(--color-text);
 background-color: var(back --background-white);
 transition: background 0.3s ease;
 border-radius: var(--border-radius-small);
 margin: 2px 10px;
}

.dropdown .content a:hover {
 background-color: var(--background-color-hover-filter);
}

.dropdown:focus-within .content {
 display: block;
 opacity: 1;
 transform: translateY(0);
}   
 

/* button design */ 
