.button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #578A37;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}


.button:hover {
    background-color: #2C5810;
}



/* a linkjes */

a {
text-decoration: none;
margin-top: 1em;
color: #1d1d1d;
}



/* a linkjes */


