\:root {
    --background-page: #FFFDF7;
    --font-primary: 'Avenir', sans-serif; 
    --font-secondary: 'Helvetica', sans-serif; 

    /* colors fonts */
    --color-text:rgb(37, 37, 37);

    /* inputs */
    --color-text-input-hover: #FF7300;
    --color-text-input-border: 1px solid #ccc;
    --border-input-:#FF7300;
   

    /* header */
    --background-color-header: #ffefca;
    --background-color-menu:#afc8a1;
    --color-text-menu-hover: #FF3D00;
    --color-text-menu: white;
    --color-text-desktop:#FF3D00;


    /* transition hover */
   --animation-transition: all 0.3s ease-in-out;


   /* buttons */
   --background-color-button: #578A37;
   --background-color-button:#2C5810;
 

  /* tags *
  --background-color-tag:#FF3D00;

   /* border radius */
   --border-radius-small: 5px;
   --border-radius-medium: 7,5px;
   --border-radius-big: 10px;

   /* shadows */
   --box-shadow:0px 6px 24px 0px rgba(0, 0, 0, 0.2);

  }

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
    background-color: var(--background-color-header);
}


.logo a {
    display: inline-block;
    text-decoration: none;
}

.logo-mobile {
    display: block;
  }
  .logo-desktop {
    display: none;
  }
  
  /* Bij desktop: toon alleen desktop logo */
  @media (min-width: 768px) {
    .logo-mobile {
      display: none;
    }
    .logo-desktop {
      display: block;
    }
  }

.logo img {
    width: 60px;
}

.logo {
    display: flex;
    justify-content: center;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
}


@media screen and (max-width: 767px) {
    header {
        justify-content: flex-start;
    }
    
    .logo {
        position: static; 
        left: auto; 
        transform: none; 
    }
}

nav.desktop-nav ul {
    display: flex;
    list-style: none;
    margin-left: 17em;
}

nav.desktop-nav ul li {
    margin-right: 2em;
}

nav.desktop-nav ul li a {
   color: var(--color-text-desktop);
    text-decoration: none;
    position: relative;
    transition: color 0.9 ease;
    font-size: 18px;
    }

nav.desktop-nav ul li a:hover {
    color: var(--color-text-menu-hover); 
  }
  


  nav.desktop-nav ul li a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: var(--color-text-menu-hover); 
    transition: width 0.3s ease, left 0.3s ease;
      }


    nav.desktop-nav ul li a:hover::after{
        width: 100%;
        left: 0;
    }



.hamburger-menu {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.5rem;
}

.hamburger-menu img {
    width: 24px;
    height: 24px;
}



/* header stukje voor desktop */


/* header voor mobile met uitklap functie  */

.mobile-nav {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 100%;
    width: 40%;
    background-color: var(--background-color-menu);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease;
border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);
}

.mobile-nav.active {
    max-height: 1000px;
}

.mobile-nav ul {
    list-style: none;
    padding: 1rem;

    margin-top: 2em;
}

.mobile-nav ul li {
    margin-bottom: 1rem;
}

.mobile-nav ul li a {
    color: var(--color-text-menu);
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.mobile-nav ul li a:hover {
color: var(--color-text-menu-hover);
transform: scale(1.05);
}

.nav-placeholder {
    visibility: hidden;
    width: 50%; 
}

/* media querie voor scherm  */


@media screen and (max-width: 950px) {
    nav.desktop-nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
        margin-left: auto; 
    }
    
    .nav-placeholder {
        display: none;
    }
}


@media (max-width: 600px) {
    .input-field {
        width: 80%;
    }}


    @media (max-width: 600px) {
        header {
            justify-content: flex-start;
        }
    }



/* media querie voor scherm  */

/* header voor mobile met uitklap functie  */



/* Button close image*/
.close-menu {
    position: absolute;
    top: 15px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.close-menu img{
    width: 30px;
}



