* {
  box-sizing: border-box;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    line-height: 1.6;
    padding: 20px;


  }
  

  /* filter functie ^^ */ 


.finder {
    padding: 0 15px; 
}

form {
    width: 100%;
}



.finder input{
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px; 
    padding: 20px ;
    border: none;
    background-color: #c8c8c8;
    color: white;
    margin-top: 1em;
    border-radius: 1em;
}

 button {
    width: 100%;
    padding: 15px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 10px;
}

p {
    text-align: start;
    margin-top: 10px;
}


.line-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

.line-with-text::before,
.line-with-text::after {
  content: "";
  flex: 1;
  border-top: 1px solid #9d9d9d; 
}

.text {
  padding: 0 10px;
  font-size: 20px;
  color: #ff0000;
}



.filter-begin ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
margin: 0;
padding: 0;
}


.filter-begin li {
padding: 15px 20px;
  background-color: #bebebe;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 1em;
  cursor: pointer;
}
.filter-begin li:hover{
  background-color: #ff0000;
}

.filter-begin button {
margin-top: 1em;
}
  h1 {
    color: #444;
    margin-bottom: 10px;
  }
  
  h1 + p {
    font-weight: bold;
  }
  
  p {
    margin: 11px 0;
    color: beige;
  }
  
  ul {
    list-style: none;
    padding: 0;
    max-width: max-content;
  }
  
  li {
    background: rgb(255, 117, 117);
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  li img {
    width: auto;
    height: 3em;
    border-radius: 5px;
  }
  
  ul.italiaans li:not(.italiaans),
  ul.mexicaans li:not(.mexicaans),
  ul.japans li:not(.japans) {
    display: none;
  }

  

*, 
*::before, 
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
background-color: rgb(170, 191, 255);
font-family: sans-serif;
padding: 20px;
}

.pop-up {
    display: none; 
    background-color: white;
    width: 420px;
    height: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, 50%); 
    left: 50%;
    top: 50%;
    border-radius: 1em;
    text-align: center;
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.pop-up.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%);
}



button {
    display: block;
    margin:0 0 20px auto;
    background: transparent;
    font-size: 30px;
    border-radius: 100%;
    width:40px;
height: 40px;
border: none;
outline: none;
cursor: pointer;
background-color: rgb(117, 117, 117);
color: white;
} 




.pop-up p {
 font-size: 14px;
 margin: 20px 0;
 line-height: 20px;
}

.pop-up a{
    position: relative; 
    top: 100px; 
    background-color: rgb(121, 121, 121);
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    display: block;
    width: 150px;
    margin: 10px auto;
    text-align: center;
    border-radius: 2em;
}




/* koelkast functie */


.koelkast-list
{
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.koelkast-list input {
    border-radius: 1em;
    padding: 15px 50px;
    border: none;
}

.koelkast-list {
    margin-top: 5em;
}


