
 /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {

    --color-background-base:#FFE6B1;
    --color-font:black;
    --button-background:#007bff;

  }

/* basis  */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    background-color: #FFF5DF;

  }
main {
  padding: 0px 30px;
}

/* basis */
  /* kook niveau */



.image-cooking{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.keuzen-niveau {
    margin-top: 2em;
}
.keuzen-niveau button {
    margin-bottom: 15px;
    padding: 15px 20px;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}


  .keuzen-niveau p {
      font-size: 14px; 
      margin: 10px 0 0;
      color: #555; 
  }

  .keuzen-niveau .beginner{
    background-color: rgb(218, 255, 218);
  }
  .keuzen-niveau .beginner:hover{
    background-color: rgb(82, 225, 82);
  }
  .keuzen-niveau .gemiddeld{
    background-color: rgb(255, 236, 169);
  }
  .keuzen-niveau .gemiddeld:hover{
    background-color: rgb(255, 162, 23);
  }

  .keuzen-niveau .pro-chef{
    background-color: rgb(255, 169, 169);
  }
  .keuzen-niveau .pro-chef:hover{
    background-color: rgb(254, 59, 59);
  }

  .done button{
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .done button:hover{
    background-color: #333;
    color: white;
  }


    /* kook niveau */

    /* recept finder begin pagina */


.filter-begin {
    margin-top: 10em;

}
    .filter-begin h2{
        font-size: 20px;
        margin-right: 5em;
        margin-top: 2em;
    }


    .filter-categorie input[type="checkbox"] {
        display: none;
      }

      .filter-categorie {
        display: flex;
        flex-direction: row;
        gap: 10px; 
        flex-wrap: wrap;
        color: white;
        border-radius: 10px;
    }
    
    .filter-categorie label {
        background-color: #98ccff;
        padding: 10px 20px; 
        border-radius: 5px; 
        color: white; 
    }
    
    
.filter-begin button {
    display: inline-block;
        padding: 10px 40px;
        background-color: #bebebe;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 20px;
    
    text-align: center;
        border: none;
    
}

    /* recept finder begin pagina */

    /* pop - up */
    div .pop-up {
        background-color: rgb(170, 191, 255);
        font-family: sans-serif;
        padding: 20px;
        }
        
        .pop-up h2 {
          font-size: 25px;
          color: #578A37;
        }

        .pop-up p {
            font-size: 14px;
            margin: 20px 0;
            line-height: 20px;
            color: #83b863;
           }
        
        .pop-up {
            display: none; 
          background-color: #EFF4EC;
            width: 250px;
            height: 350px;
            padding: 30px 40px;
            position: absolute;
            transform: translate(-50%, 50%); 
            left: 50%;
            top: 50%;
            border-radius: 1em;
            text-align: center;
            opacity: 0;
            transition: transform 0.5s ease-out, opacity 0.5s ease-out;
        }
        
        .pop-up.show {
            display: block;
            opacity: 1;
            transform: translate(-50%, -50%);
        }
        
        
        
        .pop-up button {
          display: block;
          margin:0 0 20px auto;
          background: transparent;
          font-size: 30px;
          border-radius: 100%;
          width:40px;
        height: 40px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #578A37;
        color: white;
        } 
        
        
        
        
    
        
        .pop-up a{
            position: relative; 
        top: 40px;
        background-color: #578A37;
            padding: 10px 20px;
            text-decoration: none;
            color: white;
            display: block;
            width: 150px;
            margin: 10px auto;
            text-align: center;
            border-radius: 2em;
        }  




    /* pop - up */


    /* koelkast functie */



     /* koelkast functie */

     .koelkast-list {
        display: flex;
        flex-direction: column;
        gap: 15px; 
        margin-top: 3em;

    }
    
    .koelkast-list label {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }
    
    .ingredient-input {
        flex: 1;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #c5e1ff;
        font-size: 16px;
        transition: 0.3s ease-in-out;
    }
    

 /* koelkast functie */


 /* Allergie pagina */
  label img{
    width: 50px;
}




.filter-allergie {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-allergie input {
  display: none; 
}

.filter-allergie label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f5f5f5;

}

.filter-allergie label img {
  width: 40px;
  height: 40px;
}

/* Actieve status bij selectie */
.filter-allergie input:checked + label {
  background-color: #888;
}


.filter-allergie input[type="checkbox"] {
display: none;
}
.filter-start{
  margin-top: 5em;
}



  .filter-start h2{
      font-size: 20px;
      margin-right: 5em;
      margin-top: 2em;
  }


  .filter-categorie input[type="checkbox"] {
      display: none;
    }

    .filter-categorie {
      display: flex;
      flex-direction: row;
      gap: 10px; 
      flex-wrap: wrap;
      color: white;
      border-radius: 10px;
  }
  
  .filter-categorie label {
      background-color: #98ccff;
      padding: 10px 20px; 
      border-radius: 5px; 
      color: white; 
  }
  
  
.filter-start button {
  display: inline-block;
      padding: 10px 40px;
      background-color: #bebebe;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 20px;
  
  text-align: center;
      border: none;
}

 /* Allergie pagina */


 /* header basis */

.steady {
  font-family: Arial, sans-serif;
  position: relative;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #eff4ed;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0.5rem;
  margin-left: auto; /* Dit zorgt ervoor dat de knop naar rechts wordt geduwd */
}

.logo img {
  width: 40px;
}

nav.desktop-nav ul {
  display: flex;
  list-style: none;
}


nav.desktop-nav ul li {
  margin-right: 2em;
  font-size: 20px;
}

nav.desktop-nav ul li a {
color: #afc8a1;
  text-decoration: none;
  position: relative;
  transition: color 0.9 ease;
  }

  nav.desktop-nav ul li a:hover {
    color: #ffac92; 
  }

  nav.desktop-nav ul li a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: #ffac92;
    transition: width 0.3s ease, left 0.3s ease;
      }

      nav.desktop-nav ul li a:hover::after{
        width: 100%;
        left: 0;
    }

    .hamburger-menu {
      display: none;
      cursor: pointer;
      background: none;
      border: none;
      padding: 0.5rem;
      margin-left: auto; 
  }
  .hamburger-menu img {
    width: 24px;
    height: 24px;
}

/* header stukje voor desktop */

.mobile-nav {
  position: relative;
  top: 100%; 
  right: 0;
  width: 40%;
  background-color: #afc8a1;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s ease;
border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/* header voor mobile met uitklap functie  */


/* media querie voor scherm  */


@media screen and (max-width: 950px) {
  nav.desktop-nav {
      display: none;
  }

  .hamburger-menu {
      display: block;
  }
  
  .nav-placeholder {
      display: none;
  }
}

/* media querie voor scherm  */


@media screen and (max-width: 950px) {
  nav.desktop-nav {
      display: none;
  }

  .hamburger-menu {
      display: block;
  }
  
  .nav-placeholder {
      display: none;
  }
}


/* media querie voor scherm  */

/* header voor mobile met uitklap functie  */



/* Button close image*/
.close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-menu img{
  width: 30px;
}

/* Button close image*/


/* 1e pagina de finder */

.finder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (min-width: 768px) {
  .finder {
      justify-content: flex-start;  
      align-items: flex-start;
      display: flex;
      margin-left: 20px;  
  }
}